@import "./Desktop/setting.css";
@import "./Desktop/header.css";
@import "./Desktop/slider.css";
@import "./Desktop/story.css";
@import "./Desktop/market.css";
@import "./Desktop/amazing.css";
@import "./Desktop/products.css";
@import "./Desktop/supermarket.css";
@import "./Desktop/chance.css";
@import "./Desktop/category.css";
@import "./Desktop/discount.css";
@import "./Desktop/suggestion.css";
@import "./Desktop/favorite.css";
@import "./Desktop/previous.css";
@import "./Desktop/discount2.css";
@import "./Desktop/readings.css";
@import "./Desktop/readings2.css";
@import "./Desktop/digiplus.css";
@import "./Desktop/footer.css";
@import "./Desktop/footer2.css";
@import "./Desktop/sh-header.css";
@import "./Desktop/sh-amazing.css";
@import "./Desktop/sh-container.css";
@import "./Desktop/sh-category.css";
@import "./Desktop/sh-montakhab.css";
@import "./Desktop/sh-ending.css";
@import "./Desktop/sh-supermarket.css";
@import "./Desktop/sefareshi.css";
@import "./Desktop/tomorrow.css";
