@font-face {
  font-family: 'iranyekanwebextrabold.9346e9a2';
  src: url(./iranyekanwebextrabold.9346e9a2.eot);
  src: url(./iranyekanwebextrabold.9346e9a2.eot?#iefix) format('embedded-opentype'),
       url(./iranyekanwebextrabold.9346e9a2.ttf) format('truetype'),
       url(./iranyekanwebextrabold.9346e9a2.woff) format('woff'),
       url(./iranyekanwebextrabold.9346e9a2.woff2) format('woff2');
}
