header {
    width: 100%;
    height: 170px;
    box-shadow: 0 1px 5px #d0d0d0;
    z-index: 8888;
    position: sticky;
    top: 0;
  }
  header .top {
    width: var(--width);
    height: 60px;
    z-index: 8888;
    position: sticky;
    top: 0;
  }
  header .top img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  header .center {
    width: var(--width);
    background-color: #ffffff;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
  }
  header .center .logo {
    width: 10%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .center .search {
    width: 70%;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header .center .search input[type="text"] {
    width: 600px;
    height: 40px;
    background-color: #f0f0f1;
    border: unset;
    border-radius: 7px;
    padding-right: 40px;
    outline: unset;
  }
  header .center .search input[type="text"]::placeholder {
    font-family: IRAN;
    font-size: 13px;
  }
  header .center .login {
    width: 20%;
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 25px;
    padding-left: 30px;
  }
  header .center .login .register {
    width: 140px;
    height: 40px;
    text-decoration: none;
    color: black;
    font-family: IRAN;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #e0e0e2;
    border-radius: 7px;
    text-align: center;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }
  header .center .login .line {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: lightgrey;
  }
  header .bottom {
    width: var(--width);
    background-color: #ffffff;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
  }
  header .bottom .right {
    width: 70%;
    height: inherit;
  }
  
  header .bottom .right .menu__nav {
    width: var(--width);
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    padding-right: 25px;
    column-gap: 20px;
    position: relative;
    z-index: 9999;
  }
  header .bottom .right .menu__nav .menu__item {
    height: inherit;
    width: fit-content;
    position: relative;
  
    &:hover .sub__menu {
      display: block;
    }
    .animate {
      width: 0;
      position: absolute;
      height: 3px;
      background-color: #e52d3e;
      left: 0;
      transition: 100ms;
      z-index: 2;
    }
    &:hover .animate {
      width: 100%;
    }
  }
  header .bottom .right .menu__nav .menu__item .menu__item__link {
    display: block;
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: #2b2b2b;
    font-family: IRAN;
    font-size: 13px;
    display: flex;
    column-gap: 3px;
    align-items: center;
    transition: 100ms;
  }
  
  header .bottom .right .menu__nav .menu__item .menu__item__link span svg {
    width: 18px !important;
    height: 18px !important;
  }
  header .bottom .right .menu__nav .menu__item .sub__menu {
    width: 70vw;
    height: 70vh;
    background-color: #ffffff;
    position: absolute;
    display: none;
    transition: 300ms;
    .sub__menu__category {
      width: 30%;
      height: 100%;
      overflow: auto;
      direction: ltr;
      .sub__menu__category__item {
        width: 100%;
        height: 50px;
        background-color: #f0f0f1;
        .sub__menu__category__item__link {
          display: block;
          width: 100%;
          height: inherit;
          text-align: right;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          column-gap: 5px;
          font-family: var(--font-family);
          font-size: 13px;
          font-weight: 400;
          padding-right: 30px;
          text-decoration: none;
          transition: 300ms;
          color: #2b2b2b;
          &:hover {
            background-color: whitesmoke;
            color: #e52d3e;
          }
        }
        .sub__sub__menu {
          width: 70%;
          height: 100%;
          background-color: #ffffff;
          position: absolute;
          left: 0;
          top: 0;
          display: none;
          .active {
            display: flex !important;
            background-color: #e52d3e !important;
          }
        }
        &:hover .sub__sub__menu {
          display: flex;
        }
      }
    }
  }
  
  header .bottom .left {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    align-items: center;
    font-family: IRAN;
    font-size: 13px;
  }
  header .bottom .left p {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
  }
  .story {
    width: 100%;
    height: 175px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3px;
  }
  .story .story__center {
    width: 80%;
    height: inherit;
  }
  .u-none {
    background-color: #2b2b2b;
    color: whitesmoke;
  }
  .swiper-slide div {
    width: var(--width);
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .swiper-slide div .story__top {
    width: inherit;
    height: 70%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
  }
  .swiper-slide div .story__bottom {
    width: inherit;
    height: 30%;
  }
  .swiper-slide div img {
    width: 74px;
    height: 74px;
    object-fit: cover;
    border-radius: 50%;
    outline: 2px solid crimson;
    outline-offset: 3px;
    margin-bottom: 10px;
  }
  .swiper-slide div h5 {
    font-family: var(--font-family);
    font-size: 10px;
    opacity: 0.6;
  }
  .slider {
    width: 100%;
    height: 400px;
    background-color: black;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    width: 35px;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 14px;
    color: dark;
    font-weight: bold;
  }
  .d-none {
    opacity: 0;
    transition: 500ms;
  }
  .mySwiper:hover .d-none {
    display: flex;
    opacity: 1;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 3px;
    height: 3px;
    margin-left: 2px !important;
    transition: 200ms;
  }
  .swiper-pagination-bullet-active {
    background-color: whitesmoke;
    width: 14px !important;
    height: 5px !important;
    border-radius: 3px;
  }
  .market {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
  }
  .market .market__center {
    width: 80%;
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
  }
  .market .market__center div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .market .market__center img {
    object-fit: cover;
    width: 52px;
    height: 52px;
    margin-bottom: 10px;
  }
  .market .market__center h5 {
    font-family: var(--font-family);
    font-size: 12px;
    opacity: 0.6;
  }
  .amazing {
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .amazing .amazing__center {
    width: 80%;
    height: inherit;
    background-color: #ef394e;
    border-radius: 20px;
    padding: 20px 0;
    border-left: 1px solid #ef394e;
  }
  .amazing .amazing__center .first__amazing {
    background-color: #ef394e;
  }
  .amazing .amazing__center .first__amazing div {
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }
  .amazing .amazing__center .first__amazing div > svg {
    width: 92px;
    height: 74px;
    margin-bottom: 15px;
  }
  .amazing .amazing__center .first__amazing div img {
    outline: unset;
    width: 145px;
    height: 115px;
    margin-bottom: 10px;
  }
  .amazing .amazing__center .first__amazing div a {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-size: 13px;
  }
  .amazing .amazing__center .first__amazing div a svg g {
    fill: whitesmoke;
  }
  .item__amazing .item {
    width: 100%;
    height: 100%;
    padding-top: 8px;
    display: flex;
    flex-flow: column wrap !important;
    justify-content: flex-start;
  }
  .item__amazing .item .amazing__top {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .item__amazing .item .amazing__center1 {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 0 20px;
  }
  .item__amazing .item .amazing__center1 h5 {
    display: flex;
    flex-flow: row-reverse wrap;
    font-size: 15px;
    font-family: var(--font-family-number);
    color: #2b2b2b;
  }
  
  .item__amazing .item .amazing__center1 span {
    font-family: var(--font-family-number);
    font-size: 12px;
    padding: 0 10px;
    background-color: #d32f2f;
    border-radius: 10px;
    color: whitesmoke;
  }
  .item__amazing .item .amazing__bottom {
    display: block;
    width: 100%;
    height: auto;
    font-family: var(--font-family-number);
    text-align: left;
    padding-left: 35px;
    font-size: 13px;
    opacity: 0.9;
    text-decoration: line-through;
  }
  .item__amazing .item .amazing__top img {
    all: unset;
    width: 150px;
    height: 150px;
  }
  .supermarket {
    width: var(--width);
    height: 160px;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .supermarket .supermarket__item {
    width: 80%;
    height: 120px;
    background-color: #eceeeb;
    border-radius: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    cursor: pointer;
    background-image: url(/svg/svg2.svg);
    background-repeat: no-repeat;
  }
  .supermarket__item .supermarket__right__item {
    width: 40%;
    height: inherit;
    display: flex;
    padding: 30px 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-right: 20px;
  }
  .supermarket__item .supermarket__right__item img {
    width: 66px;
    height: 62px;
  }
  .supermarket__item .supermarket__right__item .left {
    width: 110px;
    height: 28px;
    border-radius: 40px;
    background-color: #39ae00;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .supermarket__item .supermarket__right__item .left p {
    font-family: var(--font-family-number);
    font-size: 17px;
    color: whitesmoke;
    font-weight: bold;
  }
  .supermarket__item .supermarket__left__item {
    width: 650px;
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
  }
  .supermarket__item .supermarket__left__item div {
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .supermarket__item .supermarket__left__item > div img {
    width: 45px;
    height: 45px;
    object-fit: cover;
  }
  .supermarket__item .supermarket__left__item > div .child {
    width: 34px;
    height: 20px;
    background-color: #d32f2f;
    font-family: var(--font-family-number);
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .supermarket__item .supermarket__left__item .more {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 6px;
  }
  .supermarket__item .supermarket__left__item .more p {
    font-family: var(--font-family-number);
    color: #39ae00;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
  }
  .chance {
    width: var(--width);
    height: 240px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .chance__item {
    width: 80%;
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    column-gap: 5px;
    justify-content: center;
    cursor: pointer;
  }
  .chance__item img {
    width: 300px;
    height: 240px;
    border-radius: 18px;
    object-fit: cover;
  }
  .category {
    width: var(--width);
    height: 470px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
  }
  .category__item {
    width: 80%;
    height: 450px;
    padding: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .category__item .top {
    height: 20px;
  }
  .category__item .top h2 {
    text-align: center;
    line-height: 20px;
    font-weight: normal;
    font-size: 20px;
    font-family: var(--font-family);
  }
  .category__item .center,
  .category__item .bottom {
    width: 95%;
    height: 180px;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
  }
  .category__item .center div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .category__item .center div img,
  .category__item .bottom div img {
    width: 88px;
    height: 88px;
  }
  .category__item .center div span,
  .category__item .bottom div span {
    font-family: var(--font-family);
    font-size: 12px;
  }
  .category__item .bottom {
    width: 95%;
    height: 180px;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .category__item .bottom div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .discount {
    width: var(--width);
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .discount__item {
      width: 80%;
      height: inherit;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      column-gap: 13px;
      & img {
        width: 600px;
        height: 250px;
        object-fit: cover;
        border-radius: 18px;
      }
    }
  }
  .suggestion {
    width: 100%;
    height: 380px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    .suggestion__item {
      width: 80%;
      height: 300px;
      border: 1px solid lightgray;
      border-radius: 18px;
      display: flex;
      flex-flow: row-reverse wrap;
      .first {
        width: 170px;
        height: 150px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        & span {
          font-family: var(--font-family);
          font-size: 13px;
          margin-top: 5px;
        }
        .img {
          width: 80px;
          height: 80px;
          background-color: lightgray;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          & img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    .header {
      width: 100%;
      height: 30px;
      display: flex;
      flex-flow: row wrap-reverse;
      justify-content: center;
      margin-bottom: 15px;
      & h3 {
        font-family: var(--font-family);
        font-size: 20px;
        font-weight: normal;
      }
    }
  }
  .favorite {
    width: var(--width);
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 15px;
    .favorite__item {
      width: 80%;
      height: inherit;
      padding: 20px 0;
      border: 1px solid lightgray;
      border-radius: 18px;
      padding: 40px;
      .swiper-slide {
        width: 140px;
        height: 100px;
      }
      & img {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
      .header {
        height: 40px;
        position: relative;
        top: 5px;
        display: flex;
        justify-content: center;
        column-gap: 5px;
        margin-bottom: 30px 0;
        & h2 {
          font-family: var(--font-family);
          font-size: 20px;
          font-weight: normal;
        }
      }
    }
  }
  .disconut2 {
    width: var(--width);
    height: 264px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .discount2__item {
      width: 80%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      column-gap: 13px;
      & img {
        width: 600px;
        height: 264px;
        object-fit: cover;
        border-radius: 18px;
      }
    }
  }
  .digiplus {
    width: var(--width);
    height: 380px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .digiplus__item {
      width: 80%;
      height: inherit;
      background-color: #941b80;
      border-radius: 18px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-flow: row wrap;
      .right {
        width: 416px;
        height: 360px;
        background-image: url(/image/digiplus/background.png);
        background-size: 350px 280px;
        background-position: left bottom;
        background-repeat: no-repeat;
        .top {
          width: inherit;
          height: 110px;
          margin-top: 30px;
          margin-right: 20px;
          display: flex;
          flex-flow: column nowrap;
          row-gap: 10px;
          .btn {
            width: 105px;
            height: 40px;
            border: 1px solid whitesmoke;
            background-color: #941b80;
            font-family: var(--font-family);
            font-size: 12px;
            color: whitesmoke;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;
            column-gap: 6px;
          }
          .center {
            font-family: var(--font-family);
            font-size: 14px;
            color: whitesmoke;
            font-weight: normal;
          }
        }
      }
      .left {
        width: 750px;
        height: 350px;
        background-color: #ffffff;
        border-radius: 12px;
        display: flex;
        align-items: center;
        flex-flow: column;
        .top {
          width: 715px;
          height: 65px;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          .free {
            width: 150px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 6px;
            margin: 0 16px 0 16px;
            cursor: pointer;
          }
          & h5 {
            font-family: var(--font-family);
            font-size: 16px;
            font-weight: normal;
          }
          & span {
            width: 90px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;
  
            margin: 0 16px 0 16px;
            font-family: var(--font-family);
            font-size: 12px;
            color: #941b80;
            cursor: pointer;
          }
        }
        .bottom {
          width: 715px;
          height: 290px;
          display: flex;
          flex-flow: row-reverse wrap;
          justify-content: center;
          & img {
            width: 116px;
            height: 116px;
          }
        }
      }
    }
  }
  .products {
    width: var(--width);
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .products .header {
    height: 40px;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
  }
  .products .header span {
    display: flex;
    align-items: center;
  }
  .products .header h2 {
    text-align: center;
    font-weight: normal;
    font-family: var(--font-family);
    font-size: 20px;
    margin: 5px 0;
  }
  .products .header svg {
    line-height: 40px;
  }
  .products .products__center {
    width: 80%;
    height: auto;
    padding: 40px;
    border: 1px solid lightgray;
    border-radius: 18px;
  }
  .swiper-slide .product__item__top,
  .swiper-slide .product__item__center,
  .swiper-slide .product__item__bottom {
    all: unset;
    padding: 10px;
    box-sizing: border-box;
  }
  .product__item {
    margin-bottom: 4px 0;
    flex-flow: column wrap !important;
    justify-content: flex-start;
  }
  .swiper-slide .product__item__top,
  .swiper-slide .product__item__center,
  .swiper-slide .product__item__bottom {
    height: 110px;
    width: 260px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 10px;
  }
  .swiper-slide .product__item__top img,
  .swiper-slide .product__item__center img,
  .swiper-slide .product__item__bottom img {
    all: unset;
    width: 86px;
    height: 86px;
  }
  .swiper-slide .product__item__top span,
  .swiper-slide .product__item__center span,
  .swiper-slide .product__item__bottom span {
    font-family: var(--font-family-number);
    color: #19bfd3;
    font-weight: bold;
    font-size: 35px;
  }
  .swiper-slide .product__item__top h5,
  .swiper-slide .product__item__center h5,
  .swiper-slide .product__item__bottom h5 {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: normal;
    opacity: 0.7;
    text-align: right;
  }
  .previous {
      width: var(--width);
      height: auto;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
    .previous .header {
      height: 40px;
      position: relative;
      top: 5px;
      display: flex;
      justify-content: center;
      column-gap: 5px;
    }
    .previous .header span {
      display: flex;
      align-items: center;
    }
    .previous .header h2 {
      text-align: center;
      font-weight: normal;
      font-family: var(--font-family);
      font-size: 20px;
      margin: 5px 0;
    }
    .previous .header svg {
      line-height: 40px;
    }
    .previous .previous__center {
      width: 80%;
      height: auto;
      padding: 40px;
      border: 1px solid lightgray;
      border-radius: 18px;
    }
    .swiper-slide .previous__item__top,
    .swiper-slide .previous__item__center,
    .swiper-slide .previous__item__bottom {
      all: unset;
      padding: 10px;
      box-sizing: border-box;
    }
    .previous__item {
      margin-bottom: 4px 0;
      flex-flow: column wrap !important;
      justify-content: flex-start;
    }
    .swiper-slide .previous__item__top,
    .swiper-slide .previous__item__center,
    .swiper-slide .previous__item__bottom {
      height: 110px;
      width: 260px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      column-gap: 10px;
    }
    .swiper-slide .previous__item__top img,
    .swiper-slide .previous__item__center img,
    .swiper-slide .previous__item__bottom img {
      all: unset;
      width: 86px;
      height: 86px;
    }
    .swiper-slide .previous__item__top span,
    .swiper-slide .previous__item__center span,
    .swiper-slide .previous__item__bottom span {
      font-family: var(--font-family-number);
      color: #19bfd3;
      font-weight: bold;
      font-size: 35px;
    }
    .swiper-slide .previous__item__top h5,
    .swiper-slide .previous__item__center h5,
    .swiper-slide .previous__item__bottom h5 {
      font-family: var(--font-family);
      font-size: 12px;
      font-weight: normal;
      opacity: 0.7;
      text-align: right;
    }
    .readings {
      width: var(--width);
      height: 65px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      .readings__item {
        width: 80%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        .span {
          width: 20%;
          height: 20px;
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-end;
          align-items: center;
          column-gap: 3px;
        }
        & h5 {
          font-family: var(--font-family);
          font-size: 14px;
          color: black;
          font-weight: normal;
        }
        & a {
          font-family: var(--font-family);
          font-size: 11px;
          text-decoration: none;
          &:visited {
            color: #66c2d3;
          }
        }
        & svg {
          margin-bottom: 4px;
        }
      }
    }
    .readings2 {
      width: var(--width);
      height: 250px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-bottom: 50px;
      .readings2__item {
        width: 80%;
        height: inherit;
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        column-gap: 15px;
        .item {
          width: 300px;
          height: inherit;
          border: 1px solid lightgrey;
          border-radius: 10px;
          div:nth-child(1) {
            width: 100%;
            height: 70%;
          }
          div:nth-child(2){
            width: 100%;
            height: 30%;
            display: flex;
            flex-wrap: row wrap;
            justify-content: center;
            align-items: flex-start;
            padding: 0 12px;
            margin: 8px 0 12px;
          }
          & img {
            width: inherit;
            height: 163px;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
          }
          & h5 {
            font-family: var(--font-family);
            font-weight: normal;
            font-size: 12px;
            opacity: 0.8;
          }
        }
      }
    }
    .footer {
      width: var(--width);
      height: 620px;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      .first__item {
        width: 95%;
        height: 40px;
        background-color: #ffffff;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 10px;
        & img {
          width: 113px;
          height: 30px;
        }
        .btn {
          width: 120px;
          height: 35px;
          border-radius: 7px;
          border: 1px solid lightgray;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: var(--font-family);
          color: gray;
          font-size: 12px;
          background-color: #ffffff;
        }
      }
      .second__item {
        width: 95%;
        height: 20px;
        background-color: #ffffff;
        margin-bottom: 30px;
        & p {
          font-family: var(--font-family);
          font-size: 12px;
          font-weight: normal;
          color: rgb(91, 90, 90);
        }
      }
      .third__item {
        width: 95%;
        height: 105px;
        display: flex;
        flex-flow: row nowrap;
        column-gap: 5px;
        margin-bottom: 30px;
        .box {
          width: 300px;
          height: inherit;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-items: center;
          & h5 {
            font-family: var(--font-family);
            font-weight: normal;
            font-size: 11px;
          }
        }
      }
      .fourth__item {
        width: 95%;
        height: 270px;
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        column-gap: 10px;
        .item {
          width: 400px;
          height: inherit;
          display: flex;
          flex-flow: column wrap;
          row-gap: 13px;
          p {
            font-family: var(--font-family);
            font-size: 14px;
          }
          & a {
            text-decoration: none;
            font-family: var(--font-family);
            font-size: 13px;
            color: rgba(0, 0, 0, 0.378);
          }
          .svg__item {
            width: 300px;
            height: 40px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            column-gap: 30px;
          }
          .input {
            width: 300px;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            column-gap: 10px;
            & [type="text"] {
              width: 240px;
              height: 40px;
              background-color: #f0f0f1;
              border: 1px solid lightgray;
              border-radius: 8px;
              padding: 20px;
              &::placeholder {
                font-family: var(--font-family);
                font-size: 13px;
              }
            }
            & [type="submit"] {
              width: 50px;
              height: 40px;
              border: 1px solid lightgray;
              border-radius: 8px;
              font-family: var(--font-family);
              color: #ffffff;
              background-color: #e0e0e2;
            }
          }
        }
      }
      .fifth {
        width: 95%;
        height: 67px;
        background-color: #3c4b6d;
        border-radius: 8px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        .fifth__item {
          width: 280px;
          height: 44px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          column-gap: 10px;
        }
        & img {
          width: 44px;
          height: 44px;
          object-fit: cover;
        }
        & h5 {
          font-family: var(--font-family);
          font-size: 18px;
          font-weight: normal;
          color: whitesmoke;
        }
        .item__item {
          width: 900px;
          height: 44px;
          background-color: #f0f0f1;
        }
        .item {
          width: 1130px;
          height: 40px;
          display: flex;
          flex-flow: row nowrap;
          column-gap: 20px;
          .item__left {
            width: 40px;
            height: inherit;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
          }
          .item__right {
            width: 1080px;
            height: inherit;
            display: flex;
            flex-flow: row-reverse nowrap;
            justify-content: flex-start;
            column-gap: 12px;
            & img {
              width: 140px;
              height: inherit;
            }
          }
        }
      }
    }
    .footer2 {
      width: var(--width);
      height: 225px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid lightgray;
      .right {
        width: 68%;
        height: 165px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        & h3 {
          font-family: var(--font-family);
          font-weight: normal;
          font-size: 22px;
          color: #646464;
        }
        & span {
          font-family: var(--font-family);
          font-weight: normal;
          font-size: 11px;
          opacity: 0.6;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }
      .left {
        width: 22%;
        height: 165px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        column-gap: 10px;
      }
      .img {
        width: 100px;
        height: 100px;
        border: 1px solid lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        & img {
          width: 75px;
          height: 75px;
          object-fit: cover;
        }
      }
    }
    .footer3 {
      width: var(--width);
      height: 89px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid lightgray;
      & p {
        font-family: var(--font-family);
        font-size: 10px;
        color: gray;
        font-weight: normal;
      }
    }
    .footer4 {
      width: var(--width);
      height: 80px;
      display: flex;
      flex-flow: row-reverse wrap;
      .logo {
        width: 190.8px;
        height: 80px;
        border: 1px solid lightgray;
        background-color: #f0f0f1;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
    }
    .footer5 {
      width: var(--width);
      height: 80px;
      display: flex;
      flex-flow: row-reverse nowrap;
      .logo {
        width: 225px;
        height: 80px;
        border: 1px solid lightgray;
        background-color: #f0f0f1;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
    }
        