.chance {
  width: var(--width);
  height: 240px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.chance__item {
  width: 80%;
  height: inherit;
  display: flex;
  flex-flow: row wrap;
  column-gap: 5px;
  justify-content: center;
  cursor: pointer;
}
.chance__item img {
  width: 300px;
  height: 240px;
  border-radius: 18px;
  object-fit: cover;
}
