.favorite {
  width: var(--width);
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 15px;
  .favorite__item {
    width: 80%;
    height: inherit;
    padding: 20px 0;
    border: 1px solid lightgray;
    border-radius: 18px;
    padding: 40px;
    .swiper-slide{
      width: 140px;
      height: 100px;
      
    }
    & img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
    .header {
      height: 40px;
      position: relative;
      top: 5px;
      display: flex;
      justify-content: center;
      column-gap: 5px;
      margin-bottom: 30px 0;
      & h2 {
        font-family: var(--font-family);
        font-size:20px ;
        font-weight: normal;
      }
    }
   
  }
}
