.montakhab {
  width: 100%;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.montakhab .montakhab__center {
  width: 97%;
  height: inherit;
  background-color: #ef394e;
  border-radius: 20px;
  padding: 20px 0;
  border-left: 1px solid #ef394e;
}
.montakhab .montakhab__center .first__montakhab {
  background-color: #ef394e;
}
.montakhab .montakhab__center .first__montakhab div {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.montakhab .montakhab__center .first__montakhab div > svg {
  width: 150px;
  height: 100px;
  margin-bottom: 15px;
}
.montakhab .montakhab__center .first__montakhab div img {
  all: unset;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
}
.montakhab .montakhab__center .first__montakhab div a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: 13px;
}
.montakhab .montakhab__center .first__montakhab div a svg g {
  fill: whitesmoke;
}
.item__montakhab .item {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  display: flex;
  flex-flow: column wrap !important;
  justify-content: flex-start;
  .scalable {
    width: 100%;
    height: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-right: 10px;
  }
  .text {
    width: inherit;
    height: 30px;
    font-family: var(--font-family);
    font-size: 11px;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 5px;
    padding-left: 20px;
  }
}
.item__montakhab .item .montakhab__top {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.item__montakhab .item .montakhab__center1 {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 0 5px;
  .send {
    width: inherit;
    height: 23px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 5px;
    & p {
      font-family: var(--font-family);
      font-size: 10px;
      opacity: 0.7;
    }
  }
}
.item__montakhab .item .montakhab__center1 h5 {
  display: flex;
  flex-flow: row-reverse wrap;
  font-size: 15px;
  font-family: var(--font-family-number);
  color: #2b2b2b;
}

.item__montakhab .item .montakhab__center1 span {
  font-family: var(--font-family-number);
  font-size: 12px;
  padding: 0 10px;
  background-color: #d32f2f;
  border-radius: 10px;
  color: whitesmoke;
}
.item__montakhab .item .montakhab__bottom {
  display: block;
  width: 100%;
  height: auto;
  font-family: var(--font-family-number);
  text-align: left;
  padding-left: 35px;
  font-size: 13px;
  text-decoration: line-through;
  opacity: 0.9;
}
.item__montakhab .item .montakhab__top img {
  all: unset;
  width: 150px;
  height: 150px;
}
